#orders {
    width: 300px;
    height: auto;
    border-right: thick solid #ff0000;
    margin-top: 20px;
}
.ready {
    width: 50px;
    height: 50px;
    margin: 0 10px 10px 0;
    float: left;
    background: #0f0;
}
.nonready {
    width: 50px;
    height: 50px;
    margin: 0 10px 10px 0;
    float: left;
    background: #f00;
}

