
{% extends "base-branch.html" %}

{% block content %}
{% if error %}
  <div id="error">
        <h3>{{ error }}</h3>
  </div>
{% endif %}


<link rel="stylesheet" type="text/css" href="/static/css/orders/orders.css">
<link rel="stylesheet" type="text/css" href="/static/css/orders/menu.css">
<link rel="stylesheet" href="/static/sidr/stylesheets/jquery.sidr.dark.css">
<script src="/static/sidr/jquery.sidr.min.js"></script>
<script src="http://coffe.kazav.net:8889/socket.io/socket.io.js"></script>

<script>
	var socket = io.connect('http://coffe.kazav.net:8889');
	var branchID = {{ branchID }};
	var map_model_to_css = {'Ready':'ready', 'NonReady':'nonready', 'Done':0};

	// on connection to server, ask for orders and let the server save your socket
	socket.on('connect', function(){
		// call the server-side function 'connectBranch' and send one parameter (branchID)
		socket.emit('connectBranch', branchID);
	});

	// clean orders div (for test)
	socket.on('clearOrders', function() {
		$("#orders").empty();
	});

	// after connecting, we will get all orders with JSON format
	socket.on('getAllOrders', function() {
		$.getJSON( "/orders/all_branch_orders/", function( ordersJson ) {		
			$("#orders").empty();
			var json = ordersJson; //JSON.parse(ordersJson);
			var ordersCount = json.count;
			if (ordersCount == 0) {
				if (json.error == 0) {
					$("#orders").append("<div id=noorders>No orders yet..</div>");
				} else {
					$("#orders").append("Error accured while getting data from the server!!");
				}
			} else {
				var ordersArray = json.orders;
				for (var i=0; i<ordersCount; i++) {
					var orderState = ordersArray[i].state;
					var orderID = ordersArray[i].id;
					$("#orders").append("<div class=" + orderState  + " id=" + orderID + ">" + orderID + "</div>");
				}
			}
		})
		.fail(function() {
			$("#orders").append("Error accured while getting data from the server!!");
		});
	});

	// listener, whenever the server emits 'updatechat', this updates the chat body
	socket.on('addOrder', function (json) {
			$("#noorders").remove();
        	$("#orders").append("<div class=nonready id=" + json + ">" + json + "</div>");
			var audio = new Audio('/static/mp3/new_order.mp3');
			audio.play();

	});

	socket.on('deleteOrder', function (json) {
		var oid = json.id;
        	$("#"+oid).remove();
	});

	socket.on('onlineStatus', function (json) {
		var ks = "";
        	for (var k in json) {
			ks = ks + k + " ";
		}
		ks = ks + ".";
		alert(ks);
	});

	socket.on('raiseError', function (msg) {
		$("#orders").empty();
		$("#orders").append("Error accured while getting data from the server: " + msg);
	});

	// listener, whenever the server emits 'updateusers', this updates the username list
	socket.on('changeOrder', function(json) {
		var orderid= json.id;
		var orderst= json.status;
		if (map_model_to_css.hasOwnProperty(orderst)){
			if (map_model_to_css[orderst] == 0) {
				$("#"+orderid).remove();
			} else {
				$("#"+orderid).attr('class', map_model_to_css[orderst]);
			}
		} else {
			$("#orders").empty();
			$("#orders").append("Error accured while getting status for your order: " + orderid + ", the stautus is: " + orderst);
		}
	});

$(document).ready(function() {
	$(document).on('click', '.ready, .nonready', function() {
		$("#menu").show();
		$("#orderid").html(this.id);
		var orderstatus;
		if (this.className == "ready") {
			orderstatus="Ready";
		} else if (this.className == "nonready") {
			orderstatus="Not Ready";
		}
		$("#orderstatus").html(orderstatus);
	});
	
	$("#cancelmenu").click(function() {$("#menu").hide();});

	$("#menu").hide();

	$("#doready, #dononready, #dodone").click(function() {
		$("#menu").hide();
		socket.emit('updateOrder', branchID, $("#orderid").html(), this.id);
	});

	$("#gabi").click(function() {
		socket.emit("checkOnline", branchID);
	});

	var menu_url="http://" + window.location.host + "/static/sidr/sidr_menu.html"
	$("#menu_icon").sidr({
		name: 'sidr',
		source: menu_url
 	});

});

</script>
<img src="/static/img/orders/reload.png" onClick="window.location.reload()" width=50 height=50 id="reload_icon">
<button type=button id=gabi class=gabi>check online</button>
 <div id="orders">
<img src="/static/img/orders/wait.gif"><BR>
Please wait for the server to send our data...
 </div>
 
 <div id="menu">
  Order: <div id=orderid>0</div>
  Status: <div id=orderstatus>null</div>
  <div id=doready class="menu_button">READY</div> <div id=dononready class="menu_button">NON-READY</div> <div id=dodone class="menu_button">DONE</div>
  <div id=cancelmenu>Cancel</dev>
 </div>
</div>
{% endblock %}
