{% extends "base-client.html" %}

{% block content %}

<script>
	$(document).ready(function(){
		$("#branch_select li").click(function(){
			$("#branch_form").submit();
		});
	});
</script>

<div id="order">
{% if error %}
  <div id="error">
        <h3>{{ error }}</h3>
  </div>
{% endif %}

Please select branch to make new order:
<form id="branch_form" action='#' method='post'>{% csrf_token %}
	{% if form.branch.errors %}
		{{ form.branch.errors }}
		<br>
	{% endif %}
	<ul id="branch_select">
	{% for choice in form.branch %}
		<li id="{{ choice.choice_value }}"> {{ choice.choice_label }} </li>
	{% endfor %}
	<ul>
	<br>
	{% if form.branch.help_text %}
		{{ form.branch.help_text }}
	{% endif %}
			<td colspan=2><center><input type="submit" value="Start ordering"></center></td>
</form>

</div>
{% endblock %}

